<!doctype html>
<title>Results</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<table class="table">
  <tr>
    <th scope="col">Hotel ID</th>
    <th scope="col">Hotel Name</th>
    <th scope="col">Number of Reviews</th>
    <th scope="col">Address</th>
    <th scope="col">Number of Stars</th>
    <th scope="col">Amenities</th>
    <th scope="col">Image</th>
    <th scope="col">Snaptravel Price</th>
    <th scope="col">Hotel.com Price</th>
  </tr>
  {% for row in data %}
  <tr>
    <td>{{ row.id }}</td>
    <td>{{ row.hotel_name }}</td>
    <td>{{ row.num_reviews }}</td>
    <td>{{ row.address }}</td>
    <td>{{ row.num_stars }}</td>
    <td>
    {% for amenity in row.amenities %}
      <p>{{ amenity }}</p>
    {% endfor %}
    </td>
    <td><img src="{{ row.image_url }}" alt="Hotel Image" style="width:100px;height:100px;"/></td>
    <td>{{ row.price }}</td>
    <td>{{ row.retailPrice }}</td>
  </tr>
  {% endfor %}

</table>
<ul>

</ul>
